.error {
	color: red;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
}

#root {
	color: black;
}

.nav-list {
	display: flex;
	justify-content: space-between;
}

.form-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.auth-wrapper {
	display: flex;
	align-content: center;
	justify-content: center;
}

.single-form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	padding: auto;
	background-image: url('../components/images/kara-michelle-554236-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
	padding: auto;
	margin: 1rem;
	width: 33rem;
	height: 39rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

#search-bar {
	width: 95%;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.form-button {
	max-width: 14rem;
	text-align: center;
	background-color: #f78e80;
	border: none;
}

#home {
	/* margin-left: 10em; */
}
.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.center-btn {
	padding-left: 45px;
}

.search-top {
	margin-left: 2em;
}
.list-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.album-container {
	background-color: white;
	padding: 0.3rem;
	margin: 2rem;
	max-width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
.form-item {
	margin-bottom: 2rem;
}
.info-wrapper {
	width: 98%;
	margin: auto;
	margin-bottom: 5rem;
	margin-top: 4rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.form-container {
	background-color: white;
	padding: auto;
	margin: 1rem;
	width: 38rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
.album-container img {
	max-width: 85%;
}

.album-container button {
	text-align: center;
	max-height: 3.4rem;
	min-width: 5.5rem;
	padding: 0.4rem;
	margin: 1rem;
}

#Nav li {
	list-style: none;
	margin-top: 1.5em;
	height: 3vh;
}

/* Larger than mobile */

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Dropdown {
	position: absolute;
	right: 2.5rem;
	top: 6rem;
	flex-direction: column;
	z-index: 1;
}
.item {
	padding: 2rem;
}

.menu-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu {
	color: red;
	min-width: 100%;
	margin-left: 12%;
	text-align: center;
	padding: 0.55rem;
	border: 1px solid #dbebf9;
	border-radius: 0.3rem;
	background-color: #dbebf9;
}

#landing-image {
	opacity: 0.25;
	position: absolute;
	left: -20rem;
	width: 100vh;
}

#landing-text-one {
	font-family: 'Biryani', sans-serif;
	position: absolute;
	left: 3rem;
	top: 6rem;
	font-size: 2rem;
	opacity: 0.68;
}

#landing-text-two {
	font-family: 'Biryani', sans-serif;
	font-size: 2rem;
	text-align: right;
	position: absolute;
	right: 1.5rem;
	opacity: 0.7;
	top: 40rem;
}

@media (min-width: 400px) {
	#landing-container {
		overflow: visible;
	}

	#landing-image {
		opacity: 0.25;
		position: absolute;
		left: -20rem;
		width: 100vh;
	}

	#landing-text-one {
		font-family: 'Biryani', sans-serif;
		position: absolute;
		left: -2.5rem;
		top: 6rem;
		font-size: 2rem;
		opacity: 0.68;
	}

	#landing-text-two {
		font-family: 'Biryani', sans-serif;
		font-size: 2rem;
		text-align: right;
		position: absolute;
		right: -2.5rem;
		opacity: 0.7;
		top: 40rem;
	}
}

@media (min-width: 550px) {
	#landing-text-one {
		font-family: 'Biryani', sans-serif;
		position: absolute;
		left: -2.5rem;
		top: 6rem;
		font-size: 2rem;
		opacity: 0.68;
	}

	#landing-text-two {
		font-family: 'Biryani', sans-serif;
		font-size: 2rem;
		text-align: right;
		position: absolute;
		right: -2.5rem;
		opacity: 0.7;
		top: 40rem;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	#search-bar {
		width: 60%;
	}
	#landing-image {
		width: 200%;
	}

	#landing-image {
		opacity: 0.25;
		position: absolute;
		left: -20rem;
		width: 110vh;
	}

	#landing-container {
		overflow: visible;
	}

	#landing-text-one {
		font-family: 'Biryani', sans-serif;
		position: absolute;
		left: -6.5rem;
		top: 6rem;
		font-size: 2rem;
		opacity: 0.68;
	}

	#landing-text-two {
		font-family: 'Biryani', sans-serif;
		font-size: 2rem;
		text-align: right;
		position: absolute;
		right: -5.5rem;
		opacity: 0.7;
		top: 45.5rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	#landing-image {
		position: absolute;
		left: 0;
		width: auto;
		height: auto;
		max-height: 90vh;
		max-width: 100%;
		opacity: 0.2;
	}
	#search-bar {
		width: 80%;
	}

	#landing-image {
		position: absolute;
		left: 0;
		width: auto;
		height: auto;
		max-height: 90vh;
		max-width: 100%;
		opacity: 0.2;
	}
	#landing-container {
		position: relative;
		text-align: center;
		color: black;
	}

	#landing-text-one {
		font-family: 'Biryani', sans-serif;
		font-size: 1.8rem;
		position: absolute;
		top: 6.5rem;
		left: 1.5em;
	}

	#landing-text-two {
		text-align: right;
		font-family: 'Biryani', sans-serif;
		font-size: 2.3rem;
		position: absolute;
		top: 37rem;
		right: 0.8rem;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
