.error {
	color: red;
}

#root {
	color: black;
}

#Nav li {
	list-style: none;
	margin-top: 1.5em;
}

.nav-list {
	display: flex;
	justify-content: space-between;
}

.nav-text {
}

#landing-container {
	position: relative;
	text-align: center;
	color: black;
}

#landing-image {
	position: absolute;
	left: 0;
	width: auto;
	height: auto;
	max-height: 90vh;
	max-width: 100%;
	opacity: 0.2;
}

#landing-text-one {
	font-family: 'Biryani', sans-serif;
	font-size: 1.8em;
	position: absolute;
	top: 2.3em;
	left: 1.5em;
}

#landing-text-two {
	text-align: right;
	font-family: 'Biryani', sans-serif;
	font-size: 2.3em;
	position: absolute;
	bottom: -16.5em;
	right: 0.8em;
}

#search-bar {
	margin: 0.5em;
	margin-bottom: 2em;
}

#search-btn {
	min-width: 4em;
	text-align: center;
	background-color: #f78e80;
	border: none;
}

#home {
	/* margin-left: 10em; */
}
.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.center-btn {
	padding-left: 45px;
}

.sign-in-up {
	padding-top: 13%;
	margin-top: 12rem;
	height: 550px;
	background-image: url('../components/images/kara-michelle-554236-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

.search-top {
	margin-left: 2em;
}
.album-container {
	background-color: white;
	margin-bottom: 2em;
	min-width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.album-container img {
	max-width: 85%;
}

.album-container button {
	max-height: 2.5em;
	max-width: 3.5em;
	margin: 1em;
	text-align: left;
}
